.navbar {
    padding: 20px 30px;
}

.container {
    margin-top: 70px;
}

.btn {
    margin: 20px 20px 0 0;
}

* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-family: 'Montserrat', sans-serif;
}

#alert {
    width: 100%;
    border-radius: 0;
    position: absolute;
}

.choiceCards {
    display: flex;
    margin-right: 15px;
}

.choiceCards>h3 {
    margin: 5px;
}

.choiceCards>label {
    margin: 5px;
    border-radius: 100%;
    font-size: 0px;
    padding: 17px;
    border: 2px solid;
    cursor: pointer;

}

.choiceCards>input {
    display: none;
}

.green {
    background-color: #9AE6B4;
}

.teal {
    background-color: #81E6D9;
}

.cyan {
    background-color: #00B5D8;
}

.gray {
    background-color: #4A5568;
}

.container>button {
    color: white !important;
    font-weight: 600 !important;
}

.form-control {
    color: black !important;
}